from openplatform import *

"""
Baseline Template for Open Platform Fabric script. Just copy this file to your
project root and fill in all the values which have been commented here. the
other values are sane defaults. 

Don't forget to add the openplatform fabric scripts as a dependency to your 
project with :

echo 'git+https://github.com/ODHK/OpenPlatform.git@master#egg=openplatform' >> requirements.txt
"""

## GLOBALS

env.project_name = ''             	    # e.g. 'opengov'
env.project_url = ''                    # e.g. 'opengov.hk'
env.hosts = ['128.199.212.155']       	
env.path = '/var/www/%(project_url)s' % env
env.user = 'su_odhk'

env.github_account = ''                 # e.g. 'ODHK'
env.github_repo = ''                    # e.g. 'opengov.hk'
env.setup_github = False

env.key_filename = "~/.ssh/id_rsa"
env.colorize_errors = True
env.env_file = "requirements.txt"

## ENVIRONMENTS

def platform():
    "Use the open platform"
    env.hosts = ['']                    # e.g. 'opengov.hk'
    env.user = 'su_%(project_name)s' % env
    env.path = '/var/www/%(project_url)s' % env
    env.env_file = "requirements.txt"
    env.github_email = 'info@opendatahk.com'
    env.github_name = 'ODHK Admin'
    env.setup_github = True
    paths()

# Setup

def setup_ubuntu(): # System dependencies for Ubuntu
    """
    Update the Ubuntu host and install the necessary third party software, then
    follow the setup steps all OSes have in common
    """
    sudo('apt-get install -y python-setuptools python-dev')
    sudo('easy_install pip')
    sudo('pip install virtualenv')
    sudo('apt-get install -y git zsh htop links')
    sudo('apt-get install -y nginx')
    sudo('apt-get install -y postgresql postgresql-contrib python-psycopg2 libpq-dev')
    sudo('apt-get install -y libxml2 libxslt1.1 libxslt1-dev')
    setup_common()

def setup_fedora(): # System dependencies for Fedora
    """
    Update the Fedora host and install the necessary third party software, then
    follow the setup steps all OSes have in common
    """
    sudo('yum install -y python-devel python-pip')
    sudo('pip install virtualenv')
    sudo('yum install -y nginx git postgresql postgresql-devel postgresql-server libxml2 libxml2-python')
    setup_common()

def setup_osx(): # System dependencies for OSX
    """
    Requires brew. Update the OSX host and install the necessary third party software, then
    follow the setup steps all OSes have in common.
    """
    sudo('easy_install pip')
    sudo('pip install virtualenv')
    sudo('brew install nginx')
    setup_common()

def setup_common(): # Customise with whatever other setup steps you require
    setup_user_dir()
    setup_github()
    prepare_nginx()
    setup_release_dirs()
    deploy()